body {
    /*background-color: #f3f3f3;*/
    font-size: 15px;
}

.dashboard-page {
    font-family: 'Montserrat', sans-serif;
}

a{
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.btn-rd {
    border: 1px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 15px;
    margin-bottom: 20px;
}
.btn-rd:focus,
.btn-rd:not(:disabled):not(.disabled).active:focus,
.btn-rd:not(:disabled):not(.disabled):active:focus,
.show>.btn-rd.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-rd:not(:disabled):not(.disabled):active {
    background-color: transparent;
    color: inherit;
}
.btn-teal {
    background-color: #009688;
    border-color: #009688;
}
.btn-teal-light,
.btn-teal:hover {
    background-color: #1fddb3;
    border-color: #1fddb3;
}
.btn-teal-light:hover{
    background-color: transparent;
    border-color: #1fddb3;
    color: #1fddb3;
}

.btn-skyblue {
    background-color: #00bfff;
    border-color: #00bfff;
}

.btn-skyblue-light,
.btn-skyblue:hover {
    background-color: #1faadd;
    border-color: #1faadd;
}

.btn-skyblue-light:hover{
    background-color: transparent;
    border-color: #1faadd;
    color: #1faadd;
}

.btn-violet {
    background-color: #744be9;
}

.btn-radius {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.col-form-label {
    color: #213e7a;
    font-size: 80%;
}

.content-wrapper {
    background-color:  #fff;
    -webkit-box-shadow: 0px 0px 25px 0px #dadada;
    -moz-box-shadow: 0px 0px 25px 0px #dadada;
    box-shadow: 0px 0px 25px 0px #dadada;
    margin-bottom:  75px;
    padding: 10px 50px 40px 30px;
}

.dashboard-card {
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-weight: 400;
    margin-bottom: 8px;
}

.info-card .card-body {
    padding-left: 50px;
}

info-card .information-unit {
    margin: 20px 0px;
}

.table-card .information-unit {
    margin: 10px 0px;
}

.information-title {
    font-weight: 300;
}