body {
    background-color: #f3f3f3;
    font-size: 15px;
}

.dashboard-page {
    font-family: 'Montserrat', sans-serif;
}

a{
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.navbar {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(202, 202, 202, 0.55);
    -moz-box-shadow: 0px 5px 20px 0px rgba(202, 202, 202, 0.55);
    -ms-box-shadow: 0px 5px 20px 0px rgba(202, 202, 202, 0.55);
    -o-box-shadow: 0px 5px 20px 0px rgba(202, 202, 202, 0.55);
    box-shadow: 0px 5px 20px 0px rgba(202, 202, 202, 0.55);
    margin-bottom: 60px;
}

.navbar-brand img {
    width: 120px;
}

.btn-rd {
    border: 1px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 15px;
    margin-bottom: 20px;
}
.btn-rd:focus,
.btn-rd:not(:disabled):not(.disabled).active:focus,
.btn-rd:not(:disabled):not(.disabled):active:focus,
.show>.btn-rd.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-rd:not(:disabled):not(.disabled):active {
    background-color: transparent;
    color: inherit;
}
.btn-teal,
.btn-teal-light:hover{
    background-color: #009688;
    border-color: #009688;
}
.btn-teal-light,
.btn-teal:hover {
    background-color: #1fddb3;
    border-color: #1fddb3;
}

.btn-skyblue,
.btn-skyblue-light:hover{
    background-color: #00bfff;
    border-color: #00bfff;
}

.btn-skyblue-light,
.btn-skyblue:hover {
    background-color: #1faadd;
    border-color: #1faadd;
}

.btn-violet {
    background-color: #744be9;
}

.btn-radius {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.form-group {
    margin-bottom: 20px;
}

label.col-form-label {
    color: #213e7a;
    font-size: 80%;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #213e7a;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    padding: 0px;
}

.form-control:focus {
    background-color: transparent;
    border-color: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

.content-wrapper {
    background-color:  #fff;
    -webkit-box-shadow: 0px 0px 10px 0px #dadada;
    -moz-box-shadow: 0px 0px 10px 0px #dadada;
    box-shadow: 0px 0px 10px 0px #dadada;
    margin-bottom:  75px;
    padding: 25px 50px 60px 30px;
}

.dashboard-card {
    -webkit-box-shadow: 0px 3px 3px 0px #ded8d8;
    -moz-box-shadow: 0px 3px 3px 0px #ded8d8;
    -ms-box-shadow: 0px 3px 3px 0px #ded8d8;
    -o-box-shadow: 0px 3px 3px 0px #ded8d8;
    box-shadow: 0px 3px 3px 0px #ded8d8;/*0px 3px 2px 0px rgba(155, 155, 155, 0.7)*/
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-weight: 400;
    margin-bottom: 5px;
}

/*.info-card .card-body,
.table-card .card-body {
    text-align: left;
}*/

info-card .information-unit {
    margin: 20px 0px;
}

.table-card .information-unit {
    margin: 10px 0px;
}

.information-title {
    font-weight: 300;
}